body {
  font-family: Urbanist;
  margin: 0;
}

.main {
  max-width: 1920px;
  margin: auto;
}

p {
  margin: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}

address {
  text-decoration: none;
  font-style: normal;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  max-width: 1920px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 34px 127px;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-list {
  display: flex;
  padding: 8px 17px 0 0;
  margin: 0;
}

.logo-item {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.logo-item:last-child {
  margin-right: 0;
}

.book-logo {
  justify-content: center;
}

.edu-logo {
  color: #002935;
  font-family: Urbanist;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 42px */
}

.man-logo {
  color: #002935;
  font-family: Urbanist;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.button-courses {
  display: flex;
  padding: 13px 23px;
  justify-content: center;
  align-items: center;
  gap: 112px;
  border-radius: 4px;
  border: 1px solid #ACB5C5;
  background-color: #FFF;
}

.nav-list {
  color: #222;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 25.5px */
  display: flex;
  padding: 0;
  color: var(--Title, #10243C);
  text-align: center;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 25.5px */
}

.nav-item {
  margin-right: 30px;
  display: flex;
}

.nav-item:last-child {
  margin-right: 0;
}

.arrow-down-icon {
  margin-left: 4px;
}

.reg-list {
  display: flex;
  align-items: center;
  padding: 0;
}

.reg-item {
  display: flex;
  margin-right: 18px;
}

.reg-item:last-child {
  margin-right: 0;
}

.reg-button {
  width: 158px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary, #0D5FF9);
  color: var(--White, #FFF);
  text-align: center;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 25.5px */
}

.hero-container {
  position: relative;
  max-width: 1920px;
  background-color: #002935;
  display: flex;
  justify-content: center;
  background-image: url("/images/bigbook.svg"), url("/images/wave.svg"), url("/images/polygon5.svg");
  background-repeat: no-repeat;
  background-size: 101.636px 85.16px,  1488px 412px,  51px 51px;
  background-position: top 574px left 217px,  top 508px  left,  top 247px left 90px;
}

.hero {
  padding-left: 395px;
  padding-top: 221px;
}

.hero-list {
  color: #FFF;
  margin: 0;
}

.hero-item {
  margin-bottom: 30px;
}

.hero-item:last-child {
  margin-bottom: 0;
}

.h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h2 {
  font-size: 82px;
  font-weight: 700;
  line-height: 129%;
  margin-bottom: 0;
}

.edu {
  color: var(--Primary, #0D5FF9);
  font-size: 82px;
  font-weight: 700;
  line-height: 129%;
}

.hero-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 174%;
}

.buttons-hero {
  display: flex;
  margin: 49px 0 0 0;
}

.buttons-item {
  margin-right: 26px;
}

.courses-btn {
  width: 173px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #0D5FF9;
  color: var(--White, #FFF);
  text-align: center;
  font-family: Urbanist;
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
}

.contact-btn {
  width: 173px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: #002935;
  text-align: center;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.background-man {
  background-image: url("/images/man.jpg");
  background-size: cover;
  border-radius: 0px 348px 0px 273px;
  width: 696px;
  height: 916px;
  flex-shrink: 0;
}

.tostudent {
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 392px;
  left: 1140px;
  width: 176px;
  height: 227px;
  background-color: white;
  border-radius: 8px;
}

.student-list {
  margin: 0;
  padding: 35px 0 28px 0;
}

.student-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-item:first-child {
  margin-bottom: 13px;
}

.number {
  color: #222;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
}

.student {
  color: var(--Body, #4C5664);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.tocourses {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 867px;
  left: 1583px;
  width: 260px;
  height: 107px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 35px 65px -5px rgba(0, 0, 0, 0.1);
}

.courses-list {
  padding: 21px 0 20px 24px;
  margin: 0;
  margin-right: 19px;
}

.courses-list:last-child {
  margin-right: 0;
  padding-left: 0;
}

.courses-item {
  justify-content: center;
  align-items: center;
}

.number-courses {
  color: #222;
  text-align: center;
  font-size: 29px;
  font-weight: 700;
  line-height: 150%;
}

.courses {
  color: var(--Body, #4C5664);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.features {
  padding: 100px 0 90px 0;
}

.features-list {
  margin: 0;
}

.h1-features {
  color: #0D5FF9;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.h2-features {
  color: #222;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

.features-card {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 27px;
}

.card {
  max-width: 258px;
  margin: 0;
  padding: 42px 33px;
  border-radius: 8px;
  box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.04);
}

.card-item {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 11px;
}

.card-item:first-child {
  margin-bottom: 29px;
}

.card-item:last-child {
  margin-bottom: 0;
}

.item-m {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #e5f8f8;
}

.h3-item {
  color: #222;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.p-item {
  color: #444;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 161%;
}

.teacher-icon {
  fill: #0d5ff9;
}

.player-icon {
  fill: #0d5ff9;
}

.support-icon {
  fill: #0d5ff9;
}

.price-icon {
  fill: #0d5ff9;
}

.about {
  position: relative;
  padding: 72px 400px 72px 977px;
  background-image: url("/images/ball.svg"), url("/images/ball1.svg"), url("/images/ball2.svg"), url("/images/Rectangle.svg"), url("/images/Rectangle1.svg");
  background-repeat: no-repeat;
  background-size: auto, auto, auto, auto, auto;
  background-position: top 72px right 150px, left 1753px bottom 90px, left 250px bottom 130px, top 72px left 639px, top 498px left 600px;
}

.student-image {
  position: absolute;
  z-index: 100;
  top: 114px;
  left: 396px;
  width: 311px;
  height: 317px;
  border-radius: 45px;
  background-image: url("/images/students.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.student-image1 {
  position: absolute;
  z-index: 99;
  top: 250px;
  left: 634px;
  width: 311px;
  height: 317px;
  border-radius: 45px;
  background-image: url("/images/students1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.about-list {
  margin: 0;
}

.about-item {
  margin-bottom: 21px;
}

.about-item:first-child {
  margin-bottom: 0;
}

.about-h1 {
  margin: 0;
  color: #0D5FF9;
  font-size: 26px;
  font-weight: 600;
  line-height: 150%;
}

.about-h2 {
  margin: 0;
  color: #222;
  font-size: 45px;
  font-weight: 700;
  line-height: 150%;
}

.about-descrition {
  max-width: 517px;
  color: #444;
  font-size: 17px;
  font-weight: 400;
  line-height: 172%;
}

.our {
  display: flex;
  margin-bottom: 30px;
}

.our-list {
  margin: 0;
}

.our-item {
  margin-bottom: 5px;
  max-width: 298px;
}

.our-item:last-child {
  margin-bottom: 0;
}

.check-list-icon {
  fill: #0d5ff9;
  margin-right: 29px;
}

.lightbulb-icon {
  fill: #0d5ff9;
  margin-right: 29px;
}

.h3-our {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 172%;
  margin: 0;
}

.our-description {
  color: #444;
  font-size: 17px;
  font-weight: 400;
  line-height: 172%;
}

.discover {
  margin-top: 7px;
  width: 172px;
  height: 55px;
  border-radius: 5px;
  background: var(--Primary, #0D5FF9);
  color: var(--White, #FFF);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
}

/*# sourceMappingURL=main.css.map */
