.achievements {
    padding: 53px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.achievements-container {
    max-width: 1106px;
    margin: 0 auto;
    width: 100%;
}
.achievements-title {
    margin-bottom: 52px;
    display: flex;
    justify-content: center; 
    align-items: center;           
}
.achievements-name {
    color: #222;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    margin: 0 30px;
}
.achievements-span {
    color: #0D5FF9;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
}
.line-icon {
    width: 80px;
    height: 4px;
    fill: rgba(13, 95, 249, 1);
}




.achievements-list {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 30px;
}
.description-item { 
    width: 255px;
    border-radius: 8px;
    border: 2px solid #E9EEF4;    
    background: #FFF;
    margin: 0;        
    padding-top: 7px;
    padding-bottom: 21px;
}
.description-numbers {
    color: #222;
    text-align: center;
    font-family: Urbanist;
    font-size: 45px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1.8px;
    margin: 0;
}
.description-description {
    color: #444;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}




.student1-icon {
    position: absolute;
    z-index: 100;
    bottom: 146px;
    left: 382px;
    width: 55px;
    height: 55px;
    border-radius: 45px;
    background-image: url('../images/people.svg');
    background-repeat: no-repeat;
    background-size: auto;
}
.learners-icon {
    position: absolute;
    z-index: 100;
    bottom: 146px;
    left: 672px;
    width: 55px;
    height: 55px;
    border-radius: 45px;
    background-image: url('../images/learners.svg');
    background-repeat: no-repeat;
    background-size: auto;
}
.instructor-icon {
    position: absolute;
    z-index: 100;
    bottom: 146px;
    left: 961px;
    width: 55px;
    height: 55px;
    border-radius: 45px;
    background-image: url('../images/instructor.svg');
    background-repeat: no-repeat;
    background-size: auto;
}
.rate-icon {
    position: absolute;
    z-index: 100;
    bottom: 146px;
    left: 1247px;
    width: 55px;
    height: 55px;
    border-radius: 45px;
    background-image: url('../images/rate.svg');
    background-repeat: no-repeat;
    background-size: auto;
}