.features {
    padding: 100px 0 90px 0;
}
.features-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.features-title {
    margin: 0;
}
.title-features {
    color: #0D5FF9;    
    text-align: center;        
    font-size: 26px;        
    font-weight: 600;
    line-height: 150%; 
    margin: 0;
}
.description-features {
    color: #222;    
    text-align: center;       
    font-size: 45px;        
    font-weight: 700;
    line-height: 150%;  
    margin-bottom: 60px;
}




.features-card {
    display: flex;
    justify-content: center;    
    gap: 27px;
    margin: 0;    
}
.card-item {
    width: 258px;        
    border-radius: 8px;       
    box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.04);
}
.features-link {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-thorm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 45px;    
    margin-bottom: 22px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgba(229, 248, 248, 1);    
}
.card-item:hover {
    border-radius: 8px;    
    background-color: #0D5FF9;    
    box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.04);
}
.card-item:hover .card-thorm {
    background: rgba(0, 0, 0, 0.10);
}
.card-item:hover .teacher-icon {
    fill: rgba(255, 255, 255, 1);
}
.card-item:hover .player-icon {
    fill: rgba(255, 255, 255, 1);
}
.card-item:hover .price-icon {
    fill: rgba(255, 255, 255, 1);
}
.card-item:hover .support-icon {
    fill: rgba(255, 255, 255, 1);
}
.card-item:hover .h3-item {
    color: #FFF;
}
.card-item:hover .p-item {
    color: #FFF;
}
.h3-item {
    color: #222;    
    text-align: center;        
    font-size: 24px;       
    font-weight: 600;
    line-height: 150%; 
    margin: 0; 
    margin-bottom: 11px;
}
.p-item {
    color: #444;    
    text-align: center;        
    font-size: 17px;       
    font-weight: 400;
    line-height: 161%;  
    margin-bottom: 45px;   
}
.teacher-icon {
    fill: rgba(13, 95, 249, 1);
}
.player-icon {
    fill: rgba(13, 95, 249, 1);
}
.support-icon {
    fill: rgba(13, 95, 249, 1);
}
.price-icon {
    fill: rgba(13, 95, 249, 1);
}