.main {
    display: flex;
    justify-content: center;
    

}
.hero-container {
    position: relative;
    max-width: 1920px;
    background-color: rgba(0, 41, 53, 1);
    display: flex;
    justify-content: center;
    background-image: url('/images/bigbook.svg'), 
    url('/images/wave.svg'),
    url('/images/polygon5.svg'), 
    // url('/images/botline.svg'),
    // url('/images/botline1.svg'),
    // url('/images/botline2.svg'),
    // url('/images/botline3.svg')
    ;
    background-repeat: no-repeat;        background-size:
    101.636px 85.16px, 
    1488px 412px, 
    51px 51px;   
    background-position: 
    top 574px left 217px, 
    top 508px  left, 
    top 247px left 90px;
} 
.hero {   
    padding-left: 395px;
    padding-top: 221px;    
}
.hero-list {
    color: #FFF;
    margin: 0;
}
.hero-item {
    margin-bottom: 30px;
}
.hero-item:last-child{
    margin-bottom: 0;
}
.h1 {       
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);        
    font-size: 25px;        
    font-weight: 600;
    line-height: 130%;        
    letter-spacing: 2px;
    text-transform: uppercase;
}
.h2 {          
    font-size: 82px;        
    font-weight: 700;
    line-height: 129%;
    margin-bottom: 0;
}
.edu {
    color: var(--Primary, #0D5FF9);        
    font-size: 82px;        
    font-weight: 700;
    line-height: 129%;
}
.hero-text {            
    font-size: 18px;        
    font-weight: 500;
    line-height: 174%;        
}
.buttons-hero {
    display: flex;
    margin: 49px 0 0 0;
}
.buttons-item {
    margin-right: 26px;
}
.courses-btn {
    width: 173px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0D5FF9;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;                
    font-weight: 600;
    line-height: 150%;                
}
.contact-btn {
    width: 173px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    color: #FFF;
    background-color: rgba(0, 41, 53, 1);            
    text-align: center;
    font-family: Urbanist;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;                
}
.background-man {
    background-image: url('/images/man.jpg');
    background-size: cover;
    border-radius: 0px 348px 0px 273px;
    width: 696px;
    height: 916px;
    flex-shrink: 0;
}
.tostudent {
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: 392px;
    left: 1140px;
    width: 176px;
    height: 227px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;        
}
.student-list {    
    margin: 0;
    padding: 35px 0 28px 0;    
}
.student-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-item:first-child {
    margin-bottom: 13px;
}
.number {
    color: #222;    
    text-align: center;    
    font-size: 40px;        
    font-weight: 700;
    line-height: 150%;        
}
.student {
    color: var(--Body, #4C5664);
    text-align: center;        
    font-size: 20px;        
    font-weight: 600;
    line-height: 150%;        
}
.tocourses {
    display: flex;
    position: absolute;
    z-index: 100;
    top: 867px;
    left: 1583px;
    width: 260px;
    height: 107px;    
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;    
    box-shadow: 0px 35px 65px -5px rgba(0, 0, 0, 0.10);
}
.courses-list {
    padding: 21px 0 20px 24px;
    margin: 0;
    margin-right: 19px;
}
.courses-list:last-child {
    margin-right: 0;
    padding-left: 0;
}
.courses-item {    
    justify-content: center;
    align-items: center;
}
.number-courses {
    color: #222;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    line-height: 150%;
}
.courses {
    color: var(--Body, #4C5664);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}